body {
  font-family: Monospace;
  background-color: #4C8BA8;
  margin: 0px;
  overflow: hidden;
}
#about-button, #contact-button, #portfolio-button, #back-button {
  position: absolute;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: 1.5%;
  text-align: center;
}
#back-button, #about-button {
  top: 85%;
  left: 46.5%;
}
#back-button {
    display: none;
}

#portfolio-button {
  top: 48.5%;
  right: 8.5%;
}
#about-blurb, #portfolio-blurb {
  display: none;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: -webkit-fill-available;
  font-size: 1.1em;
  background-color: rgba(61, 62, 67, 0.8);
  p {
    padding-left: 1%;
    a {
      padding-left: 1%;
      padding-right: 1%;
      color: black;
      font-size: 1.1em;
      text-decoration: none;
    }
  }

}