body {
  font-family: Monospace;
  background-color: #4C8BA8;
  margin: 0px;
  overflow: hidden; }

#about-button, #contact-button, #portfolio-button {
  position: absolute;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: 1.5%;
  text-align: center; }

#about-button {
  top: 8.5%;
  left: 47.5%; }

#contact-button {
  top: 48.5%;
  left: 8.5%; }

#portfolio-button {
  top: 48.5%;
  right: 8.5%; }

#about-blurb {
  display: none;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  text-align: center; }
